{% load static %}

<!doctype html>
<html>
	<head>

        <!-- Mobile Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS Files -->
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/jumbotron.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/signin.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/sticky-footer.css">

        <!-- Custom CSS FILES -->
        <link href="{% get_static_prefix %}css/index.css" rel="stylesheet" type="text/css">

        <!-- Bootstrap JavaScript Files -->
        <script src="{% get_static_prefix %}js/vendor/bootstrap.js"></script>

        <!-- Jquery JS files -->
        <script src="{% get_static_prefix %}js/vendor/jquery-1.11.0.js"></script>

        <!-- Angular Files -->
        <script src="{% get_static_prefix %}js/vendor/angular.js"></script>
        <script src="{% get_static_prefix %}js/vendor/angular-route.js"></script>
        <script src="{% get_static_prefix %}js/vendor/angular-resource.js"></script>

        <!-- JavaScript Files -->
        <script src="{% get_static_prefix %}js/app.js"></script>
        <script src="{% get_static_prefix %}js/factory.js"></script>

        <!-- Controllers -->
        <script src="{% get_static_prefix %}js/controllers/indexController.js"></script>

	</head>
<body>

    <div data-ng-app="mvpApp">
        <div ng-view class="row">

        </div>
    </div>


</body>
</html>
